<h1>Listing users</h1>

<table class='table table-bordered'>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th></th>
 
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>    
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to "<i class='icon-zoom-in'>Show</i>".html_safe, user, class: 'btn btn-mini' %>
    <%= link_to "<i class='icon-edit'>Edit</i>".html_safe, edit_user_path(user), class: 'btn btn-mini' %>
    <%= link_to "<i class='icon-remove'>Delete</i>".html_safe, user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path, class:'btn' %>
