<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @barcode.data %>
</p>

<p>
  <b>User:</b>
  <%= @barcode.user %>
</p>


<%= link_to 'Edit', edit_barcode_path(@barcode) %> |
<%= link_to 'Back', barcodes_path %>
