<!DOCTYPE html>
<html>
<head>
  <title>BarcodeApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<div class="row">
		<div class='span12'>
			<%= yield %>
		</div>	
	</div>
	<%= debug params %>
</div>

</body>
</html>
